#
# Copyright (C) 2025 Xiaomi Corporation
#
# Licensed to the Apache Software Foundation (ASF) under one or more contributor
# license agreements.  See the NOTICE file distributed with this work for
# additional information regarding copyright ownership.  The ASF licenses this
# file to you under the Apache License, Version 2.0 (the "License"); you may not
# use this file except in compliance with the License.  You may obtain a copy of
# the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#
config CPU_COREID
	int "CPU CORE ID"
	default -1
	---help---
		Current cpu core id

config VELA_BL
	bool "VELA QEMU BL"
	default n
	---help---
		vela qemu bootloader

config ARCH_BOARD_CUSTOM_QEMU_ARM32
	bool "qemu arm32 Board"
	select ARM_HAVE_DPFPU32

config PCI_DOMAIN
	int "PCI domain number"
	default 0
	range 0 16
	---help---
	    The PCI domain id to use. On devices with multiple root
	    PCIe controllers, this tells which one we use.
